[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
traitlets = "*"

[dev-packages]
ipython = "*"
traitlets-paths = {editable = true, path = "."}

[requires]
python_version = "3.7"
